node_modules
.pnpm-store
.turbo
**/.turbo
**/node_modules
**/dist
**/dist-electron
**/dist-ssr
**/release
**/.electron
**/.dbg
*.log
.env
.env.*
!.env.example
certs
resources/certs
scripts/released.exe
apps/desktop
docs
